<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="container">
        {% if is_authenticated %}
            <h3>Opciones de desarrollador</h3>
            <p>Bienvenido, {{ session['username'] }}.</p>
            <a href="{{ url_for('logout') }}">Cerrar sesión</a>
        {% else %}
            <a href="{{ url_for('login') }}">Iniciar sesión</a>
        {% endif %}
        
        <!-- Botón para cambiar el tema -->
        <button onclick="toggleTheme()">Cambiar tema</button>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const theme = sessionStorage.getItem("theme") || "dark";
            if (theme === "light") {
                document.body.classList.add("light-theme");
            }
        });

        function toggleTheme() {
            document.body.classList.toggle("light-theme");
            const theme = document.body.classList.contains("light-theme") ? "light" : "dark";
            sessionStorage.setItem("theme", theme);
        }
    </script>
</body>
</html>
